.weather-data__title {

    font-weight: 700;
    font-size: 43px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.14em;
}

.weather-data__sub-title {

    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 5px 0;
}

.weather-data__row {

    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-data__main-temp {

    font-weight: 400;
    font-size: 64px;
    line-height: 78px;
}

.weather-data__image {

    width: 100px;
    height: 100px;
}

.weather-data__row span {

    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.weather-data__temps {

    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin: 0 5px;
}

.weather-data__link {

    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-top: 20px;
    padding-bottom: 2px;
    text-decoration: underline;
    text-underline-offset: 2.5px;
}

@media(max-width:768px) {

    .weather-data__title {

        font-size: 43px;
        line-height: 40px;
        letter-spacing: 0.05em;
    }
}

@media(max-width:425px) {

    .weather-data__title {

        font-size: 29px;
        line-height: 35px;
    }

    .weather-data__sub-title {

        font-size: 14px;
        line-height: 17px;
    }

    .weather-data__main-temp {

        font-size: 48px;
        line-height: 59px;
    }
    
    .weather-data__image {
    
        width: 54px;
        height: 54px;
    }

}

