.forecast-data__title {

    font-weight: 700;
    font-size: 43px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.14em;
}

.forecast-data__sub-title {

    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5%;
}

.forecast-data__item {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
}

.forecast-data__item:last-child {
    
    margin-bottom: 0;
}

.forecast-data__date { 

    font-weight: 700;
    font-size: 20px;
    line-height: 24px;   
    text-align: center;
    width: 160px;
}

.forecast-data__image{ 

    width: 40px;
    height: 40px;
    margin: 0 40px 0 30px;
}

.forecast-data__temp {

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.forecast-data__temp-line {

    width: 176px;
    height: 4px;
    background-image: linear-gradient(to right,#B5C69B,#B8BE7E, #C1B45F, #CFA843,#E0972A);
    margin: 0 20px;
    border-radius: .5px;
}

.forecast-data__description {

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-left: 39px;
}

@media(max-width:768px) {

    .forecast-data__title {

        font-size: 43px;
        line-height: 40px;
        letter-spacing: 0.05em;
    }

    .forecast-data__sub-title {

        margin: 5px 0 15px 0;
    }

    .forecast-data__date {
        
        font-size: 15px;
        line-height: 20px; 
        width: 140px;
    }

    .forecast-data__image{ 

        width: 30px;
        height: 30px;
        margin: 0 30px 0 20px;
    }

}

@media(max-width:700px) {

    .forecast-data__item {

        justify-content: center;
        margin-right: 12px;
    }

    .forecast-data__temp {
    
        font-size: 14px;
    }

    .forecast-data__description {

        display: none;
    }
}

@media(max-width:495px) {

    .forecast-data__title {

        font-size: 29px;
        line-height: 35px;
    }
    
    .forecast-data__sub-title {

        font-size: 14px;
        line-height: 17px;
        margin: 5px 0 15px 0;
    }

    .forecast-data__item {

        margin-right: 0;
    }

    .forecast-data__date {
        
        font-size: 12px;
        line-height: 15px;  
        width: 100px;
    }
 
    .forecast-data__image { 

        width: 20px;
        height: 20px;
        margin: 0 10px;
    }

    .forecast-data__temp-line {

        width: 97px;
        height: 5px;
        margin: 0 10px;
    }
    
    .forecast-data__temp {
    
        font-size: 12px;
        line-height: 15px;
    }
}

