.next-days-data { 

    color: #fff;
}

.next-days-data h1 {

    font-weight: 700;
    font-size: 43px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.14em;
}

.next-days-data  h2 {

    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5%;
}

.next-days-data-row {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
}

.next-days-data-row:last-child {
    
    margin-bottom: 0;
}

.next-days-data-row .day { 

    font-weight: 700;
    font-size: 20px;
    line-height: 24px;   
    text-align: center;
    width: 160px;
}


.next-days-data-row img{ 

    width: 40px;
    height: 40px;
    margin: 0 40px 0 30px;

    /* background-color: red; */
}

.next-days-data-row .temp-line {

    width: 176px;
    height: 4px;
    background-image: linear-gradient(to right,#B5C69B,#B8BE7E, #C1B45F, #CFA843,#E0972A);
    margin: 0 20px;
    border-radius: .5px;
}

.next-days-data-row p {

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.next-days-data-row span {

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-left: 39px;
}

@media(max-width:768px) {

    .next-days-data h1 {

        font-size: 43px;
        line-height: 40px;
        letter-spacing: 0.05em;
    }

    .next-days-data  h2 {

        margin: 5px 0 15px 0;
    }


    .next-days-data-row .day {
        
        font-size: 15px;
        line-height: 20px; 
        width: 140px;
        
    }

    
    .next-days-data-row img{ 

        width: 30px;
        height: 30px;

        margin: 0 30px 0 20px;
    }

}

@media(max-width:700px) {

    .next-days-data-row {

        display: flex;
        justify-content: center;
    }

    .next-days-data-row span {

        display: none;
    }
    .next-days-data-row p {
    
        font-size: 14px;
    }
}

@media(max-width:495px) {

    .next-days-data h1 {

        font-size: 29px;
        line-height: 35px;
    }
    
    .next-days-data  h2 {

        font-size: 14px;
        line-height: 17px;
        margin: 5px 0 15px 0;
    }

    .next-days-data-row .day {
        
        font-size: 12px;
        line-height: 15px;  
        width: 75px;
        
    }

 
    .next-days-data-row img{ 

        width: 20px;
        height: 20px;
        margin: 0 10px;
    }


    .next-days-data-row .temp-line {

        width: 97px;
        height: 5px;
        margin: 0 10px;
    }
    
    .next-days-data-row p {
    
        font-size: 12px;
        line-height: 15px;
    }
}

