.search-input h1{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 52px;
    letter-spacing: 0.14em;
    color: #fff;
    margin-bottom: 20px;

}

.search-input input {

    height: 50px;
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 13px 15px;
    outline: none;
    
}

.search-input input, .search-input input::placeholder {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #6AA2D1;
}

.pac-container {

    border-radius: 0 0 10px 10px;
    border: none;
    box-shadow: 0px 13px 11px -8px #6AA2D1;
    margin-top: -8px;
    
}

.pac-container:after{
    content:none !important;
}

.pac-icon {

    display: none;
}

.pac-item {

    padding: 10px 15px;
    cursor: pointer;
}

.pac-item:first-child {

    border-top: 1px solid #D2B3C1;
    /* padding-top: 10px; */
    /* margin-top: 10px; */
}

.pac-item:hover, .pac-matched:hover, .pac-item-query:hover, .pac-item.pac-item-selected {

    color: #D2B3C1;
}



.pac-item, .pac-matched, .pac-item-query {

    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #6AA2D1;
}


@media(max-width:425px) {

    .search-input  {

        max-width: 334px;
        text-align: center;
    }

    .search-input h1 {

        font-size: 30px;
        line-height: 37px;
        
        letter-spacing: 0.04em;
    }

    .search-input input {

        width: 95%;
    }

    .search-input input, .search-input input::placeholder {

        font-size: 16px;
        line-height: 20px;
    }

    .pac-item, .pac-matched, .pac-item-query {

        font-size: 16px;
        line-height: 20px;
    }


  
}