.geo {


    
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-top: 20px;
    padding-bottom: 2px;
    text-decoration: underline;
    text-underline-offset: 2.5px;
    cursor: pointer;


}

.error {


    margin-top: 10px;
    text-align: center;

}