.geolocation__link {

    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-top: 20px;
    padding-bottom: 2px;
    text-decoration: underline;
    text-underline-offset: 2.5px;
    cursor: pointer;
    text-align: center;
}

.geolocation__error {

    margin-top: 10px;
    text-align: center;
}

.geolocation__error h1{

    font-size: 35px;
}

.geolocation__error h2{

    font-size: 20px;
    margin: 0;    
}