footer {

    position: fixed;
    bottom: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

footer .languages {

    display: flex;
    justify-content: center;

}

.languages div {

    height: 20px;
    width: 20px;

    cursor: pointer;

    margin-right: 12px;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: bottom;

    
}

.languages div:last-child{

    
    margin-right: 0;
    
}

div.pt {

    background-image: url('../../assets/images/pt.png');
} 

div.en {

    background-image: url('../../assets/images/en.png');
}

div.es {

    background-image: url('../../assets/images/es.png');
}


footer p {

    margin-top: 5px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.05em;
    color: #fff;
}